<div class="container">
  <div class="col-md-12">
    <h1 id='login-header'>Login to Idea Box</h1><br>
  </div>
</div>

<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <%= render 'form' %><br>
    </div>
  </div>
</div>
