<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <h1>Login to Idea Box</h1><br>
    </div>
  </div>
</div>

<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <%= render 'form' %><br>
    </div>
  </div>
</div>

<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <h5>Not a User? <%= link_to "Click Here to Sign Up", new_user_path %></h5>
    </div>
  </div>
</div>