<h2>List of Categories</h2>

<ol>
<% @categories.each do |category| %>
  <li><%= link_to category.name, category %> ... <%= link_to "Edit", edit_category_path(category) %> | <%= link_to "Delete", category_path(category), method: :delete, data: {confirm: "Are you sure you want to delete #{category.name}"} %> </li>
<% end %>
</ol>

<%= link_to 'Add a New Category', new_category_path  %>
