<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <h2>List of Categories</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row well">
    <div class="col-md-12">
      <ol class= "list-group">
      <% @categories.each do |category| %>
        <li class = "list-group-item"><%= link_to category.name, category %></li>
      <% end %>
      </ol>
    </div>
  </div>
</div>


